@{
    ViewBag.Title = "SpecialTransaction";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/style")
    @Styles.RenderFormat("<link href='{0}' rel='stylsheet' type='text/css' media='print' />", "~/bundles/style/print")
    <link href="@Url.Content("~/Content/Css/dataTables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/iCheck/all.css")" rel="stylesheet" />
    <style>
        table tbody tr td.whitespacepre {
            white-space: pre !important;
        }
    </style>
</head>
<body>
    <div class="container" style="padding-top:15px; padding-bottom:15px;">
        <input type="hidden" id="rsi_no" value="@Request.QueryString["rsi_no"]" />
        <input type="hidden" id="group_id" value="@Request.QueryString["group_id"]" />
        <input type="hidden" id="bu" value="@Request.QueryString["bu"]" />
        <div class="row">
            <div class="col-sm-6">
                <div class="table-responsive">
                    <table id="normalTable" class="table table-bordered" style="width:100%">
                        <thead>
                            <tr class="bg-light-blue">
                                <th></th>
                                <th></th>
                                <th>Part No</th>
                                <th>Level</th>
                                <th>English Name</th>
                                <th>Part Type</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="table-responsive">
                    <table id="specialTable" class="table table-bordered" style="width:100%">
                        <thead>
                            <tr class="bg-light-blue">
                                <th>Part No</th>
                                <th>Level</th>
                                <th>English Name</th>
                                <th>Part Type</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding-top:15px;">
                <div class="text-center">
                    <button class="btn btn-primary btn-confirm">Comfirm</button>
                    &nbsp;
                    <button class="btn btn-default btn-cancel">Cancel</button>
                </div>
            </div>
        </div>

        @{
            string version = RSI.Models.Entity.RSI_ConfigEntityDAL.GetVersion();
        }

        @Scripts.Render("~/bundles/script")
        <script src="@Url.Content("~/Content/Scripts/jquery.dataTables.min.js?" + version)"></script>
        <script src="@Url.Content("~/Content/Scripts/dataTables.bootstrap.min.js?" + version)"></script>
        <script src="@Url.Content("~/Content/Third-Part/FixedColumns-3.2.4/js/dataTables.fixedColumns.min.js?" + version)"></script>
        <script src="@Url.Content("~/Content/Css/iCheck/icheck.min.js?" + version)"></script>
        <script src="@Url.Content("~/Content/Third-Part/Bootstrap-3-Typeahead-master/bootstrap3-typeahead.min.js?" + version)"></script>
        <script src="@Url.Content("~/Scripts/RDReviewSpecialTransaction.js?" + version)"></script>
    </div>
</body>
</html>