@model RSI.Models.Entity.DashBoardVM
@{
    /**/

    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section custom_style{
    <style>
        table th, td {
            padding: 8px;
            border: 1px #ddd solid;
        }

        table {
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
        }

        .pane-hScroll {
            overflow: auto;
            width: 100%;
        }

        .pane-vScroll {
            overflow-y: auto;
            overflow-x: hidden;
        }

        .icon {
            width: 30px;
        }

        .bu {
            width: 36px;
        }

        .createtime {
            width: 120px;
        }

        .requestdate {
            width: 100px;
        }

        .projectname {
            width: 220px;
            word-wrap: break-word;
        }

        .requestname {
            width: 120px;
            word-wrap: break-word;
        }

        .totaldays {
            width: 50px;
        }

        .helddays {
            width: 50px;
        }

        .parttype {
            width: 80px;
        }

        .pmrequest {
            width: 60px !important;
        }

        .rdreview {
            width: 60px !important;
        }

        .rdbossreview {
            width: 60px !important;
        }

        .rdmanagerreview {
            width: 60px !important;
        }

        .pmpljudge {
            width: 60px !important;
        }

        .sourcerreview {
            width: 60px !important;
        }

        .sourcerbossreview {
            width: 60px !important;
        }

        .sourcermanagerreview {
            width: 60px !important;
        }

        .auoreview {
            width: 60px !important;
        }

        .pmconfirm {
            width: 60px !important;
        }

        .process {
            width: 420px !important;
        }

        .detail {
            width: 70px;
        }

        .WriteProcess:before {
            content: url("/RSI/Content/Images/WriteProcess.png");
        }

        .isDisabled {
            color: currentColor;
            cursor: not-allowed;
            opacity: 0.5;
            text-decoration: none;
        }
        .statusIcon td {
            vertical-align: middle;
            border: none;
            padding-left: 0px;
            padding-right:0px;
        }

        .pane-vScroll > table td {
            vertical-align: middle !important;
        }

        #DetailApproveTable td {
            word-break: break-all;
        }
    </style>
}
<style>
    /*允許複製*/
    body {
        -webkit-touch-callout: auto;
        -webkit-user-select: auto;
        -moz-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
    }
</style>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <form method="post" action="/RSI/RSI/DashBoard">
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label>Owner</label>
                        <select class="form-control" name="owner">
                            <option value="1">My Approval</option>
                            <option value="2">ALL</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" name="contractStatus">
                            <option value="ALL">ALL</option>
                            @{ var contractStatus = RSI.Models.Manager.DASHBOARD_LIST_VManager.GetContractStatus(); }
                            @foreach (var status in contractStatus)
                            {
                                <option value="@status.ATTRIBUTE2">@status.ATTRIBUTE3</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label style="height:15px;"></label>
                        <input type="text" class="form-control" name="project_name" placeholder="BU/BU RFQ No/申請人/RSI No">
                    </div>
                </div>
                <div class="col-xs-3">
                    <button type="submit" class="btn btn-default" style="margin-top:25px;">Search</button>
                </div>
            </div>
            <table class="statusIcon" style="margin-bottom:5px; width:auto;">
                <tr>
                    <td><i class="fa fa-check-circle fa-2x" style="color:#00C853; margin-right:3px;"></i></td>
                    <td>已簽核</td>
                    <td><i class="fa fa-circle fa-2x" style="color:#42A5F5; margin-left:3px; margin-right:3px;"></i></td>
                    <td>簽核中</td>
                    <td><i class="fa fa-circle fa-2x" style="color:#BDBDBD; margin-left:3px; margin-right:3px;"></i></td>
                    <td>系統通知</td>
                    <td><i class="fa fa-circle-o fa-2x" style="color:#BDBDBD; margin-left:3px; margin-right:3px;"></i></td>
                    <td>待簽核</td>
                    <td><i class="fa fa-circle fa-2x" style="color:#F39C12; margin-left:3px; margin-right:3px;"></i></td>
                    <td>逐筆退回</td>
                    <td><i class="fa fa-times-circle-o fa-2x" style="color:#616161; margin-left:3px; margin-right:3px;"></i></td>
                    <td>RFQ撤回</td>
                </tr>
            </table>
        </form>
        <div class="table-responsive pane-hScroll">
            <table>
                <thead>
                    <tr class="bg-light-blue">
                        <th rowspan="2" class="text-center icon" style="vertical-align:middle;"><i class="fa fa-minus-circle fa-changeall" aria-hidden="true"></i></th>
                        <th rowspan="2" class="text-center bu" style="vertical-align:middle;">BU</th>
                        <th rowspan="2" class="text-center projectname" style="vertical-align:middle;">BU RFQ No</th>
                        <th rowspan="2" class="text-center requestname" style="vertical-align:middle;">Request Name</th>
                        <th rowspan="2" class="text-center createtime" style="vertical-align:middle;">Create Date</th>
                        <th rowspan="2" class="text-center parttype" style="vertical-align:middle;">Part Type</th>
                        <th rowspan="2" class="text-center requestdate" style="vertical-align:middle;">Request Date</th>
                        <th rowspan="2" class="text-center totaldays" style="vertical-align:middle;">Total Days</th>
                        <th rowspan="2" class="text-center helddays" style="vertical-align:middle;">Held Days</th>
                        <th colspan="7" class="text-center process" style="vertical-align:middle;">Process</th>
                        <th rowspan="2" class="text-center detail" style="vertical-align:middle;">Approved Record</th>
                    </tr>
                    <tr class="bg-light-blue">
                        <th class="text-center pmrequest" style="vertical-align:middle;">PM Request</th>
                        <th class="text-center rdreview" style="vertical-align:middle;">RD Review</th>
                        <th class="text-center rdbossreview" style="vertical-align:middle;">RD Boss Review</th>
                        <th class="text-center rdmanagerreview" style="vertical-align:middle;">RD Manager Review</th>
                        <th class="text-center pmpljudge" style="vertical-align:middle;">PM/PL Judge</th>
                        @*<th class="text-center sourcerreview" style="vertical-align:middle;">Sourcer Review</th>
                        <th class="text-center sourcerbossreview" style="vertical-align:middle;">Sourcer Boss Review</th>
                        <th class="text-center sourcermanagerreview" style="vertical-align:middle;">Sourcer Manager Review</th>*@
                        <th class="text-center auoreview" style="vertical-align:middle;">AUO Review</th>
                        <th class="text-center pmconfirm" style="vertical-align:middle;">PM Confirm</th>
                    </tr>
                </thead>
            </table>

            <div class="pane-vScroll">
                <table class="datatable table table-bordered table-hover" style="width:101%; max-width:101%;">
                    <tbody>
                        @foreach (var item in Model.UA)
                        {
                            bool isPartType = String.IsNullOrEmpty(item.PART_TYPE);
                            string pointStyle = isPartType ? "cursor:not-allowed;" : "cursor:pointer;";
                            <tr>
                                <td class="icon">
                                    @if (String.IsNullOrEmpty(item.PART_TYPE))
                                    {
                                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                    }
                                </td>
                                <td class="bu">@item.BU</td>
                                <td class="projectname">@item.PROJECT_NAME</td>
                                <td class="requestname">@item.REQUEST_NAME</td>
                                <td class="createtime" style="white-space: nowrap;">@item.CREATE_DATE.ToString("yyyy/MM/dd HH:mm")</td>
                                <td class="parttype">@item.PART_TYPE</td>
                                <td class="requestdate" style="white-space: nowrap;">@item.REQUEST_DATE.ToString("yyyy/MM/dd")</td>
                                <td class="totaldays">@item.TOTALDAYS.ToString("N")</td>
                                <td class="helddays">@item.HELDDAYS.ToString("N")</td>
                                <td class="text-center pmrequest" style="border-right:0px;">
                                    @if (item.PM_REQUEST.Equals("A"))
                                    {
                                        <i class="fa fa-check-circle fa-2x" style="color:#00C853;cursor:not-allowed;"></i>
                                    }
                                    else if (item.PM_REQUEST.Equals("U"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#42A5F5;cursor:not-allowed;"></i>
                                    }
                                    else if (item.PM_REQUEST.Equals("W"))
                                    {
                                        <i class="fa fa-circle-o fa-2x" style="color:#BDBDBD;cursor:not-allowed;"></i>
                                    }
                                    else if (item.PM_REQUEST.Equals("P"))
                                    {
                                    }
                                    else
                                    {
                                        <i class="fa fa-times-circle-o fa-2x" style="color:#616161;cursor:not-allowed;"></i>
                                    }
                                </td>
                                <td class="text-center rdreview" style="border-right:0px; border-left:0px;">
                                    @if (item.RD.Equals("A"))
                                    {
                                        <i class="fa fa-check-circle fa-2x" style="color:#00C853; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '10', 'A', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.RD.Equals("U"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#42A5F5; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '10', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.RD.Equals("W"))
                                    {
                                        <i class="fa fa-circle-o fa-2x" style="color:#BDBDBD;cursor:not-allowed;"></i>
                                    }
                                    else if (item.RD.Equals("R"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#F39C12; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '10', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.RD.Equals("P"))
                                    {
                                    }
                                    else
                                    {
                                        <i class="fa fa-times-circle-o fa-2x" style="color: #616161;cursor:not-allowed;"></i>
                                    }
                                </td>
                                <td class="text-center rdbossreview" style="border-left:0px; border-right:0px;">
                                    @if (item.RD_BOSS.Equals("A"))
                                    {
                                        <i class="fa fa-check-circle fa-2x" style="color:#00C853; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '20', 'A', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.RD_BOSS.Equals("U"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#42A5F5; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '20', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.RD_BOSS.Equals("W"))
                                    {
                                        <i class="fa fa-circle-o fa-2x" style="color:#BDBDBD;cursor:not-allowed;"></i>
                                    }
                                    else if (item.RD_BOSS.Equals("R"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#F39C12; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '20', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.RD_BOSS.Equals("N"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#BDBDBD; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '20', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.RD_BOSS.Equals("P"))
                                    {
                                    }
                                    else
                                    {
                                        <i class="fa fa-times-circle-o fa-2x" style="color: #616161;cursor:not-allowed;"></i>
                                    }
                                </td>
                                <td class="text-center rdmanagerreview" style="border-left:0px; border-right:0px;">
                                    @if (item.RD_MANAGER.Equals("A"))
                                    {
                                        <i class="fa fa-check-circle fa-2x" style="color:#00C853; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '25', 'A', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.RD_MANAGER.Equals("U"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#42A5F5; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '25', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.RD_MANAGER.Equals("W"))
                                    {
                                        <i class="fa fa-circle-o fa-2x" style="color:#BDBDBD;cursor:not-allowed;"></i>
                                    }
                                    else if (item.RD_MANAGER.Equals("R"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#F39C12; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '25', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.RD_MANAGER.Equals("N"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#BDBDBD; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '25', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.RD_MANAGER.Equals("P"))
                                    {
                                    }
                                    else
                                    {
                                        <i class="fa fa-times-circle-o fa-2x" style="color: #616161;cursor:not-allowed;"></i>
                                    }
                                </td>
                                <td class="text-center pmpljudge" style="border-left:0px; border-right:0px;">
                                    @if (item.PM_JUDGE.Equals("A"))
                                    {
                                        <i class="fa fa-check-circle fa-2x" style="color:#00C853; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '30', 'A', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.PM_JUDGE.Equals("U"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#42A5F5; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '30', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.PM_JUDGE.Equals("W"))
                                    {
                                        <i class="fa fa-circle-o fa-2x" style="color:#BDBDBD;cursor:not-allowed;"></i>
                                    }
                                    else if (item.PM_JUDGE.Equals("R"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#F39C12; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '30', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.PM_JUDGE.Equals("P"))
                                    {
                                    }
                                    else
                                    {
                                        <i class="fa fa-times-circle-o fa-2x" style="color: #616161;cursor:not-allowed;"></i>
                                    }
                                </td>
                                @*<td class="text-center sourcerreview" style="border-left:0px; border-right:0px;">
                                    @if (item.SOURCER.Equals("A"))
                                    {
                                        <i class="fa fa-check-circle fa-2x" style="color:#00C853; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '@item.SOURCER_PHASE_ID', 'A', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.SOURCER.Equals("U"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#42A5F5; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '@item.SOURCER_PHASE_ID', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.SOURCER.Equals("W"))
                                    {
                                        <i class="fa fa-circle-o fa-2x" style="color:#BDBDBD;cursor:not-allowed;"></i>
                                    }
                                    else if (item.SOURCER.Equals("R"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#F39C12; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '@item.SOURCER_PHASE_ID', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.SOURCER.Equals("P"))
                                    {
                                    }
                                    else
                                    {
                                        <i class="fa fa-times-circle-o fa-2x" style="color: #616161;cursor:not-allowed;"></i>
                                    }
                                </td>
                                <td class="text-center sourcerbossreview" style="border-left:0px; border-right:0px;">
                                    @if (item.SOURCER_BOSS.Equals("A"))
                                    {
                                        <i class="fa fa-check-circle fa-2x" style="color:#00C853; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '50', 'A', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.SOURCER_BOSS.Equals("U"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#42A5F5; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '50', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.SOURCER_BOSS.Equals("W"))
                                    {
                                        <i class="fa fa-circle-o fa-2x" style="color:#BDBDBD;cursor:not-allowed;"></i>
                                    }
                                    else if (item.SOURCER_BOSS.Equals("R"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#F39C12; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '50', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.SOURCER_BOSS.Equals("P"))
                                    {
                                    }
                                    else
                                    {
                                        <i class="fa fa-times-circle-o fa-2x" style="color: #616161;cursor:not-allowed;"></i>
                                    }
                                </td>
                                <td class="text-center sourcermanagerreview" style="border-left:0px; border-right:0px;">
                                    @if (item.SOURCER_MANAGER.Equals("A"))
                                    {
                                        <i class="fa fa-check-circle fa-2x" style="color:#00C853; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '60', 'A', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.SOURCER_MANAGER.Equals("U"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#42A5F5; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '60', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.SOURCER_MANAGER.Equals("W"))
                                    {
                                        <i class="fa fa-circle-o fa-2x" style="color:#BDBDBD;cursor:not-allowed;"></i>
                                    }
                                    else if (item.SOURCER_MANAGER.Equals("R"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#F39C12; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '60', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.SOURCER_MANAGER.Equals("P"))
                                    {
                                    }
                                    else
                                    {
                                        <i class="fa fa-times-circle-o fa-2x" style="color: #616161;cursor:not-allowed;"></i>
                                    }
                                </td>*@
                               <td class="text-center auoreview" style="border-left:0px; border-right:0px;">
                                    @if (item.AUO.Equals("A"))
                                    {
                                        <i class="fa fa-check-circle fa-2x" style="color:#00C853; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '65', 'A', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.AUO.Equals("U"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#42A5F5; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '65', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.AUO.Equals("W"))
                                    {
                                        <i class="fa fa-circle-o fa-2x" style="color:#BDBDBD;cursor:not-allowed;"></i>
                                    }
                                    else if (item.AUO.Equals("R"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#F39C12; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '65', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.AUO.Equals("P"))
                                    {
                                    }
                                    else
                                    {
                                        <i class="fa fa-times-circle-o fa-2x" style="color: #616161;cursor:not-allowed;"></i>
                                    }
                                </td>
                                <td class="text-center pmconfirm" style="border-left:0px; border-right:0px;">
                                    @if (item.PM_CONFIRM.Equals("A"))
                                    {
                                        <i class="fa fa-check-circle fa-2x" style="color:#00C853; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '@item.PMCONFIRM_PHASE_ID', 'A', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.PM_CONFIRM.Equals("U"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#42A5F5; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '@item.PMCONFIRM_PHASE_ID', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.PM_CONFIRM.Equals("W"))
                                    {
                                        <i class="fa fa-circle-o fa-2x" style="color:#BDBDBD;cursor:not-allowed;"></i>
                                    }
                                    else if (item.PM_CONFIRM.Equals("R"))
                                    {
                                        <i class="fa fa-circle fa-2x" style="color:#F39C12; @pointStyle" onclick="showDetailLayer1(@item.RSI_NO, '@item.PMCONFIRM_PHASE_ID', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                    }
                                    else if (item.PM_CONFIRM.Equals("P"))
                                    {
                                    }
                                    else
                                    {
                                        <i class="fa fa-times-circle-o fa-2x" style="color: #616161;cursor:not-allowed;"></i>
                                    }
                                </td>
                                <td class="text-center detail" style="border-left:0px;">
                                    @if (!String.IsNullOrEmpty(item.PART_TYPE))
                                    {
                                        <i class="fa WriteProcess" style="color:#F39C12;text-align:center; @pointStyle" aria-hidden="true" onclick="showDetailModal('@item.RSI_NO', '@item.PART_TYPE')"></i>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DetailApprove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Approved Record</h4>
            </div>
            <div class="modal-body">
                <table class="table" id="DetailApproveTable" style="width:100%;">
                    <thead>
                        <tr class="bg-light-blue">
                            <th class="text-center" style="width:6%;">SEQ</th>
                            <th class="text-center" style="width:18%;">Process Name</th>
                            <th class="text-center" style="width:20%;">Approver</th>
                            <th class="text-center" style="width:20%;">Actual Approver</th>
                            <th class="text-center" style="width:11%;">Status</th>
                            <th class="text-center" style="width:15%;">Comment</th>
                            <th class="text-center" style="width:13%;">Begin Date</th>
                            <th class="text-center" style="width:12%;">End Date</th>
                            <th class="text-center" style="width:10%;">Working Days</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section custom_script{
    <script>
        function showDetailLayer1(rsi_no, phase_id, form_status, bu, part_type, projectname) {
            if (part_type == '') {
                return false;
            }

            var url = "/RSI/RSI/DetailLayer1?rsi_no={0}&phase_id={1}&form_status={2}&bu={3}&part_type={4}&projectname={5}";
            if (phase_id == 40)
                url = "/RSI/RSI/DetailLayer1SourcerView?rsi_no={0}&phase_id={1}&form_status={2}&bu={3}&part_type={4}&projectname={5}";
            url = url.replace("{0}", rsi_no).replace("{1}", phase_id).replace("{2}", form_status).replace("{3}", bu).replace('{4}', part_type).replace('{5}', projectname);
            window.open(url, "_blank", "width=800,height=600,scrollbars=yes,resizable=yes");
        }

        $(function () {
            var owner = '@ViewData["Owner"]';
            if (owner !== "") {
                $("select[name='owner']").val(owner);
            }

            var constractstatus = '@ViewData["contractStatus"]';
            if (constractstatus !== "") {
                $("select[name='contractStatus']").val(constractstatus);
            }

            var project_name = '@ViewData["projectName"]';
            if (project_name !== "") {
                $("input[name='project_name']").val(project_name);
            }

            $(".pane-vScroll").css("max-height", 450);

            $('.fa-minus-circle.fa-changeall').click();
        });


        $('.pane-hScroll').scroll(function () {
            $('.pane-vScroll').width($('.pane-hScroll').width() + $('.pane-hScroll').scrollLeft());
        });

        $(document).on('click', '.fa-minus-circle:not(.fa-changeall)', function () {
            $(this).removeClass('fa-minus-circle').addClass('fa-plus-circle');
            var thisTr = $(this).closest('tr');
            isIcon = true;
            do {
                thisTr = $(thisTr).next();
                if (thisTr.length == 0)
                    break;
                isIcon = $(thisTr).find('td:eq(0)').has('i').length > 0;
                if (!isIcon) {
                    $(thisTr).addClass('hidden');
                }
            } while (!isIcon);
        });

        $(document).on('click', '.fa-plus-circle:not(.fa-changeall)', function () {
            $(this).removeClass('fa-plus-circle').addClass('fa-minus-circle');
            var thisTr = $(this).closest('tr');
            isIcon = true;
            do {
                thisTr = $(thisTr).next();
                if (thisTr.length == 0)
                    break;
                isIcon = $(thisTr).find('td:eq(0)').has('i').length > 0;
                if (!isIcon) {
                    $(thisTr).removeClass('hidden');
                }
            } while (!isIcon);
        });

        $(document).on('click', '.fa-minus-circle.fa-changeall', function () {
            $(this).removeClass('fa-minus-circle').addClass('fa-plus-circle');
            var thisTrs = $('.datatable tbody tr');
            $.each(thisTrs, function (index, value) {
                var isIcon = $(value).find('td:eq(0)').has('i').length > 0;
                if (isIcon) {
                    $(value).find('td:eq(0) i').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                }
                else {
                    $(value).addClass('hidden');
                }
            });
        });

        $(document).on('click', '.fa-plus-circle.fa-changeall', function () {
            $(this).removeClass('fa-plus-circle').addClass('fa-minus-circle');
            var thisTrs = $('.datatable tbody tr');
            $.each(thisTrs, function (index, value) {
                var isIcon = $(value).find('td:eq(0)').has('i').length > 0;
                if (isIcon) {
                    $(value).find('td:eq(0) i').removeClass('fa-plus-circle').addClass('fa-minus-circle');
                }
                else {
                    $(value).removeClass('hidden');
                }
            });
        });

        function showDetailModal(rsi_no, part_type) {
            $('#DetailApproveTable tbody').remove();
            $.ajax({
                url: '/RSI/RSI/DashBoard_DeatilApprove',
                method: 'POST',
                data: {
                    rsi_no: rsi_no,
                    part_type: part_type
                },
                success: function (response) {
                    if (response.length > 0) {
                        var appendString = '<tbody>{0}</tbody>';
                        var tempTr = '<tr><td class="text-center">{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td><td>{5}</td><td>{6}</td><td>{7}</td><td class="text-right">{8}</td></tr>';
                        var tempTrs = null;
                        $.each(response, function (index, value) {
                            var thisTr = tempTr.replace('{0}', value.APP_SERIAL).replace('{1}', value.PHASE).replace('{2}', value.APP_ASSIGNER_NAME == null ? '' : value.APP_ASSIGNER_NAME).replace('{3}', value.APP_ACTOR_NAME == null ? '' : value.APP_ACTOR_NAME)
                                .replace('{4}', value.STATUS).replace('{5}', value.APP_CONTENT == null ? '' : value.APP_CONTENT).replace('{6}', ConvertDate(value.BEGIN_DATE)).replace('{7}', ConvertDate(value.END_DATE)).replace('{8}', value.DIF_DAY == null ? "" : value.DIF_DAY);
                            if (tempTrs == null)
                                tempTrs = thisTr;
                            else
                                tempTrs += thisTr;
                        });
                        appendString = appendString.replace('{0}', tempTrs);
                        $('#DetailApproveTable').append(appendString);
                    }
                    else {
                        $('#DetailApproveTable').append('<tbody><tr><td colspan="9" class="text-center">No Data</td></tr></tbody>');
                    }
                }
            });

            $('#DetailApprove').modal('show');

        }

        function ConvertDate(data) {
            if (data == null)
                return "";

            var re = /-?\d+/;
            var m = re.exec(data);
            var d = new Date(parseInt(m[0]));
            var viewstring = '{0}/{1}/{2} {3}:{4}';
            return viewstring.replace('{0}', d.getFullYear()).replace('{1}', d.getMonth() + 1).replace('{2}', d.getDate()).replace('{3}', ("0" + d.getHours()).slice(-2)).replace('{4}', ("0" + d.getMinutes()).slice(-2));
        }
    </script>
}
