@model IEnumerable<RSI.Models.Entity.DASHBOARD_LAYER2_VEntity>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/bundles/style")
    @Styles.RenderFormat("<link href='{0}' rel='stylsheet' type='text/css' media='print' />", "~/bundles/style/print")
    <title>DetailLayer2</title>
    <style>
        body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        thead {
            display: block;
            overflow: auto;
        }

        /*th, td {
            border: 1px solid red !important;
        }*/

        tbody {
            display: block;
            overflow: auto;
        }
        thead > tr > th {
            min-width: 120px;
            max-width: 120px;
        }
        tbody > tr > td {
            min-width: 120px;
            max-width: 120px;
        }
    </style>
</head>
<body oncontextmenu="return false">
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="bg-light-blue">
                        <th class="text-center">Material Group</th>
                        <th class="text-center">Material Parts</th>
                        <th class="text-center">English Name</th>
                        <th class="text-center">Part Type</th>
                        <th class="text-center">Reviewer</th>
                        <th class="text-center">Begin Date</th>
                        <th class="text-center">End Date</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MTL_GROUP</td>
                            <td>@item.MTL_PARTS</td>
                            <td>@item.ENGLISH_NAME</td>
                            <td>@item.PART_TYPE</td>
                            <td>@item.REVIEWER</td>
                            <td>@item.BEGIN_DATE.ToString("yyyy/MM/dd HH:mm")</td>
                            <td>
                                @if (!DateTime.Equals(item.END_DATE, DateTime.MinValue))
                                {
                                    <span> @item.END_DATE.ToString("yyyy/MM/dd HH:mm")</span>
                                }
                            </td>
                            <td class="text-center">
                                @if (item.APP_STATUS.Equals("A"))
                                {
                                    <i class="fa fa-check-circle fa-2x" style="color:#00C853;"></i>
                                }

                                @if (item.APP_STATUS.Equals("U"))
                                {
                                    <i class="fa fa-circle fa-2x" style="color:#42A5F5;"></i>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @Scripts.Render("~/bundles/script")
    <script>
        $(function () {
            $('body').css({ "background-image": "url(http://auhqhrap02.corpnet.auo.com/PB20/Webform/GetSpecialWaterMark.ashx)", "background-repeat": "repeat", "background-position": "center" });
            window.moveTo(0, 0);
            window.resizeTo(screen.width, screen.height);
            $("table tbody").css("max-height", screen.height - 200);
        });

    </script>
</body>
</html>
