@model RSI.Models.Entity.H_Product_InfoEntity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@RSI.Models.Entity.Employee.GetSiteName(Request.QueryString["phase_id"], Request.QueryString["BU"])</title>
    @Styles.Render("~/bundles/style")
    @Styles.RenderFormat("<link href='{0}' rel='stylsheet' type='text/css' media='print' />", "~/bundles/style/print")
    <link href="@Url.Content("~/Content/Css/dataTables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
</head>
<body oncontextmenu="return false">
    <header class="main-header">
        <!-- Logo -->
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation" style="background-color: #018dae; margin-left:0px;">
        </nav>
    </header>
    <div class="container-fluid" style="padding-top:15px;">
        @Html.Partial("~/Views/RSI/BasicPage.cshtml", Model)

        <div class="box box-primary" style="background: transparent;">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Upload File
                </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row" style="padding-bottom:5px;">
                    <div class="col-xs-2">
                        Choose File
                    </div>
                    <div class="col-xs-10">
                        <input type="file" id="file_detail" class="filestyle" name="file_detail" data-buttonName="btn-primary" />
                    </div>
                </div>
                <div class="row" style="padding-bottom:5px;">
                    <div class="col-xs-2">
                        Remark
                    </div>
                    <div class="col-xs-10">
                        <textarea class="form-control" id="fileRemark" name="remark" rows="3"></textarea>
                    </div>
                </div>
                <div class="row" style="padding-bottom:5px;">
                    <div class="col-xs-12 text-center">
                        <input class="btn btn-default" type="button" value="Upload" onclick="fileUpload()">
                        <input class="btn btn-default" type="button" id="close" value="Close" data-dismiss="modal">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table" id="fileTable" style="width:100%;">
                        <thead>
                            <tr class="bg-light-blue">
                                <th class="text-center">File Name</th>
                                <th class="text-center">File Size(KB)</th>
                                <th class="text-center">Upload by</th>
                                <th class="text-center">Upload Date</th>
                                <th class="text-center">Remark</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.box-body -->
        </div>
    </div>

    @Scripts.Render("~/bundles/script")
    <script src="@Url.Content("~/Content/Scripts/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/bootstrap-filestyle.min.js")"></script>
    <script>
        $(function () {
            fileManagement();
        });

        var fileTable = $('#fileTable');
        function fileManagement() {
            var rsi_no = $('#RSI_NO').val();
            $(fileTable).DataTable({
                destroy: true,
                ajax: {
                    url: '/RSI/RD/FileManagement',
                    method: 'GET',
                    data: {
                        rsi_no: rsi_no
                    },
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'FILE_NAME',
                        render: function (data, type, row) {
                            return '<a href="/RSI/RSI/GetFile?file_id=' + row["FILE_ID"] + '&rsi_no=' + rsi_no + '">' + data + '</a>';
                            //return data;
                        }
                    },
                    { data: 'FILE_SIZE', class: 'text-right' },
                    { data: 'CREATED_BY' },
                    { data: 'CREATED_DATE' },
                    { data: 'REMARK' }
                ]
            });
        }

        function fileUpload() {
            var data = new FormData();
            data.append("rsi_no", $("#RSI_NO").val());
            data.append("file", $("#file_detail").get(0).files[0]);
            data.append("remark", $("#fileRemark").val());
            $.ajax({
                type: "POST",
                url: "/RSI/RD/FileManagement",
                contentType: false,
                processData: false,
                dataType: "json",
                data: data,
                success: function (data) {
                    $('#file_detail').val('').clone(true);
                    $('#fileRemark').val('');
                    $('.bootstrap-filestyle input.form-control').val('');
                    $(fileTable).DataTable().ajax.reload(null, false);
                }
            })
        }
    </script>
</body>
</html>
