@model RSI.Models.Entity.H_Product_InfoEntity
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@RSI.Models.Entity.Employee.GetSiteName(Request.QueryString["phase_id"], Request.QueryString["BU"])</title>
    @Styles.Render("~/bundles/style")
    @Styles.RenderFormat("<link href='{0}' rel='stylsheet' type='text/css' media='print' />", "~/bundles/style/print")
    <link href="@Url.Content("~/Content/Css/dataTables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Third-Part/Buttons-1.5.1/css/buttons.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Third-Part/Select-1.2.6/css/select.bootstrap.min.css")" rel="stylesheet" />
    <style>
        body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        table tbody tr td.whitespacepre {
            white-space: pre !important;
        }

        .text-ellipsis {
            max-width: 120px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            .text-ellipsis:hover {
                white-space: normal;
            }

        .fa-minus-circle, fa-plus-circle {
            cursor: pointer;
        }

        table.dataTable tbody > tr.selected td, table.dataTable tbody > tr > .selected {
            background-color: #9e9e9e;
            /*color: #000;*/
        }

        table.dataTable tbody > tr.selected:hover td, table.dataTable tbody > tr > .selected:hover {
            background-color: #9e9e9e;
            /*color: #000;*/
        }

        .text-bold {
            font-weight: bold;
        }
    </style>
</head>
<body oncontextmenu="return false">
    <header class="main-header">
        <!-- Logo -->
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation" style="background-color: #018dae; margin-left:0px;">
        </nav>
    </header>
    <div class="container-fluid" style="padding-top:15px;">
        @Html.Partial("~/Views/RSI/BasicPage.cshtml", Model)

        <div id="tabs" class="nav-tabs-custom" style="box-shadow: none; background: transparent;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" class="tabMain" data-toggle="tab">Normal Parts</a></li>
                <li><a href="#tab2" class="tabMain" data-toggle="tab">Special Parts</a></li>
            </ul>

            <div class="tab-content" style="background: transparent;">
                <div id="tab1" class="active tab-pane">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>Ref. Model</label>
                            <label class="rsi-model"></label>
                        </div>
                    </div>
                    <table id="normalTable" class="table table-bordered table-hover">
                        <thead>
                            <tr class="bg-light-blue">
                                <th class="text-center" style="vertical-align:middle;"><i class="fa fa-minus-circle fa-changeall" aria-hidden="true"></i></th>
                                <th class="text-center" style="vertical-align:middle;">Partnumber_Top</th>
                                <th class="text-center" style="vertical-align:middle;">Partnumber_Parent</th>
                                <th class="text-center" style="vertical-align:middle;">Partnumber_Child</th>
                                <th class="text-center" style="vertical-align:middle;">Part No</th>
                                <th class="text-center" style="vertical-align:middle;">Partpath</th>
                                <th class="text-center" style="vertical-align:middle;">Level</th>
                                <th class="text-center" style="vertical-align:middle;">Material Group</th>
                                <th class="text-center" style="vertical-align:middle;">Material Parts</th>
                                <th class="text-center" style="vertical-align:middle;">Part Type</th>
                                <th class="text-center" style="vertical-align:middle;">English Name</th>
                                <th class="text-center" style="vertical-align:middle;">Part Level</th>
                                <th class="text-center" style="vertical-align:middle;">Part Description</th>
                                <th class="text-center" style="vertical-align:middle;">Vendor</th>
                                <th class="text-center" style="vertical-align:middle;">Maker PN</th>
                                <th class="text-center" style="vertical-align:middle;">Part Spec</th>
                                <th class="text-center" style="vertical-align:middle;">Spec Def</th>
                                <th class="text-center" style="vertical-align:middle;">Release Date</th>
                                <th class="text-center" style="vertical-align:middle;">Usage</th>
                                <th class="text-center" style="vertical-align:middle;">Unit</th>
                                <th class="text-center" style="vertical-align:middle;">Eol</th>
                                <th class="text-center" style="vertical-align:middle;">Uni Spec Stutas</th>
                                <th class="text-center" style="vertical-align:middle;">Remark</th>
                                <th class="text-center" style="vertical-align:middle;">Attach File</th>
                                <th class="text-center" style="vertical-align:middle;">Modify Type</th>
                                <th class="text-center" style="vertical-align:middle;">SN</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="tab2" class="tab-pane">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>Ref. Model</label>
                            <label class="rsi-model"></label>
                        </div>
                    </div>

                    <div id="specialTabs" class="nav-tabs-custom" style="background: transparent;">
                        <ul class="nav nav-tabs"></ul>
                        <div class="tab-content" id="specialContent" style="padding-left:0px; padding-right:0px; background: transparent;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="fileManagement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Download File</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table" id="fileTable" style="width:100%;">
                                <thead>
                                    <tr class="bg-light-blue">
                                        <th class="text-center">File Name</th>
                                        <th class="text-center">File Size(KB)</th>
                                        <th class="text-center">Upload by</th>
                                        <th class="text-center">Upload Date</th>
                                        <th class="text-center">Remark</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                @*@if (Request.QueryString["phase_id"].Equals("10"))
                {
                    <button class="btn bg-aqua btn-save">存檔</button>
                }*@
                @*<button class="btn bg-yellow" data-toggle="modal" data-target="#rejectModal">撤回修改</button>*@
                <button class="btn bg-green" id="btn-submit">Submit</button>
                <input type="hidden" name="phase_id" id="phase_id" value="@Request.QueryString["phase_id"].ToString()" />
            </div>
        </div>

        @Html.Action("DeatilApprove", "RSI", new { rsi_no = Request.QueryString["rsi_no"], part_type = Request.QueryString["part_type"], phase_id = Request.QueryString["phase_id"] })



        <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">撤回修改</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>comment</label>
                                <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="text-align:center;">
                        <button type="button" class="btn btn-primary" onclick="reject();">Confirm</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="PartNoSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">快速查詢</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <input type="hidden" class="form-control" name="part_level">
                                <div class="col-sm-3 form-group">
                                    <label>Part No</label>
                                    <input type="text" class="form-control" name="item_no">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label>Part Description</label>
                                    <input type="text" class="form-control" name="item_desc">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label>Maker PN</label>
                                    <input type="text" class="form-control" name="maker_pn">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label>Maker</label>
                                    <input type="text" class="form-control" name="vendor">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label>Remark</label>
                                    <input type="text" class="form-control" name="remark">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label>English Name</label>
                                    <input type="text" class="form-control" name="english_name" disabled="disabled">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label>Material Parts</label>
                                    <input type="text" class="form-control" name="martial_part" disabled="disabled">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label></label>
                                    <input type="button" class="btn btn-default" value="查詢" onclick="return formsubmit()" style="margin-top:25px;" />
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table" id="searchTable">
                                <thead>
                                    <tr class="bg-light-blue">
                                        <th class="text-center">Part No</th>
                                        <th class="text-center">English Name</th>
                                        <th class="text-center">Part Description</th>
                                        <th class="text-center">Maker PN</th>
                                        <th class="text-center">Marker</th>
                                        <th class="text-center">Release</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">提示訊息</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-edit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="editTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    <label class="radio-inline">
                                        <input type="radio" name="haspartno" id="radio1" value="1"> 有料號
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="haspartno" id="radio0" value="0"> 無料號
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="parentpartno" class="col-sm-3 control-label" style="margin-right: 0px;">Parent Part No</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="parentpartno" readonly>
                                </div>
                            </div>
                            <div class="form-group div_partno">
                                <label for="partno" class="col-sm-3 control-label" style="margin-right: 0px;"><span class="text-danger" style="font-size:14px;">＊</span>Part No</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control typeahead" id="partno" data-provide="typeahead">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary btn-flat btn-partnosearch"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </span>
                                        <!--PartNoSearch Response-->
                                        <input type="hidden" id="partdesc" />
                                        <input type="hidden" id="vendor" />
                                        <input type="hidden" id="makerpn" />
                                        <input type="hidden" id="releasedate" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="partlevel" class="col-sm-3 control-label" style="margin-right: 0px;"><span class="text-danger" style="font-size:14px;">＊</span>Part Level</label>
                                <div class="col-sm-9">
                                    <select id="partlevel" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="englishname" class="col-sm-3 control-label" style="margin-right: 0px;"><span class="text-danger" style="font-size:14px;">＊</span>English Name</label>
                                <div class="col-sm-9">
                                    <select id="englishname" class="form-control"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="mtlgroup" class="col-sm-3 control-label" style="margin-right: 0px;"><span class="text-danger" style="font-size:14px;">＊</span>Material Group</label>
                                <div class="col-sm-9">
                                    <select id="mtlgroup" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="partgroup" class="col-sm-3 control-label" style="margin-right: 0px;"><span class="text-danger" style="font-size:14px;">＊</span>Part Groups</label>
                                <div class="col-sm-9">
                                    <select id="partgroup" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mtlparts" class="col-sm-3 control-label" style="margin-right: 0px;"><span class="text-danger" style="font-size:14px;">＊</span>Material Parts</label>
                                <div class="col-sm-9">
                                    <select id="mtlparts" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group div_specdef">
                                <label for="specdef" class="col-sm-3 control-label" style="margin-right: 0px;">Spec Definition</label>
                                <div class="col-sm-9">
                                    <p id="specdef"></p>
                                </div>
                            </div>
                            <div class="form-group div_itemspec">
                                <label for="itemspec" class="col-sm-3 control-label" style="margin-right: 0px;"><span class="text-danger" style="font-size:14px;">＊</span>Part Spec</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="itemspec">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="usage" class="col-sm-3 control-label" style="margin-right: 0px;"><span class="text-danger" style="font-size:14px;">＊</span>Usage</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="usage">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="unit" class="col-sm-3 control-label" style="margin-right: 0px;">Unit</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="unit"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="remark" class="col-sm-3 control-label" style="margin-right: 0px;">Remark</label>
                                <div class="col-sm-9">
                                    <textarea id="remark" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <!--POST to Save Parameter-->
                            <input type="hidden" id="parttype" />
                            <input type="hidden" id="modifytype" />
                            <input type="hidden" id="sn" />
                            <input type="hidden" id="parent_sn" />
                            <input type="hidden" id="mtltype" />
                            <input type="hidden" id="groupid" />

                        </div>
                    </div>
                    <div class="modal-footer">
                        <span id="errormessage" class="text-danger text-bold"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-selectitem" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="border: 0px;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Please slect one item!</h4>
                    </div>
                    <div class="modal-footer" style="border: 0px;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-nopermission" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="border: 0px;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">只能修改Sourcer逐筆退回的資料!</h4>
                    </div>
                    <div class="modal-footer" style="border: 0px;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <footer class="main-footer" style="margin-left:0px;">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Owner: 採購資訊課
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2018 RSI.</strong> All rights reserved.
        </footer>


        @{
            string version = RSI.Models.Entity.RSI_ConfigEntityDAL.GetVersion();
        }

        @Scripts.Render("~/bundles/script")
        @Html.Partial("~/Views/RSI/LoadingPage.cshtml")
        <script src="@Url.Content("~/Content/Scripts/jquery.dataTables.min.js?" + version)"></script>
        <script src="@Url.Content("~/Content/Scripts/dataTables.bootstrap.min.js?" + version)"></script>
        <script src="@Url.Content("~/Content/Third-Part/Select-1.2.6/js/dataTables.select.min.js?" + version)"></script>
        <script src="@Url.Content("~/Content/Third-Part/Select-1.2.6/js/select.bootstrap.min.js?" + version)"></script>
        <script src="@Url.Content("~/Content/Third-Part/Buttons-1.5.1/js/dataTables.buttons.min.js?" + version)"></script>
        <script src="@Url.Content("~/Content/Third-Part/Buttons-1.5.1/js/buttons.bootstrap.min.js?" + version)"></script>
        <script src="@Url.Content("~/Content/Third-Part/Bootstrap-3-Typeahead-master/bootstrap3-typeahead.min.js?" + version)"></script>
        <script src="@Url.Content("~/Scripts/Layer1Return.js?" + version)"></script>
        <script>
        function reject() {
            var phase_id = @Request.QueryString["phase_id"];
            var now_phase = @Request.QueryString["now_phase"];
            var part_type = $("#PartType").val();
            var comment = $("#rejectModal  #comment").val();
            var rsi_no = $("#RSI_NO").val();
            $.ajax({
                url: "/RSI/Process/RejectForReturn",
                data: {
                    comment: comment,
                    rsi_no: rsi_no,
                    part_type: part_type,
                    phase_id: phase_id,
                    now_phase: now_phase
                },
                method: "POST",
                success: function (data) {
                    if (!data) {
                        alert("存檔失敗");
                        return false;
                    }
                    //alert("送出完成");
                    $('#myModal').modal('hide');
                    window.close();
                },
                error: function () {

                }
            });
        }
        </script>
    </div>
</body>
</html>
