@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/bundles/style")
    @Styles.RenderFormat("<link href='{0}' rel='stylsheet' type='text/css' media='print' />", "~/bundles/style/print")
    <link href="@Url.Content("~/Content/Css/dataTables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/iCheck/all.css")" rel="stylesheet" />
    <style>
        body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            height:100vh !important;
        }

        .text-ellipsis-owner {
            max-width: 140px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .text-ellipsis-owner:hover {
            white-space: normal;
        }

        .table > thead > tr > th {
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>
<body oncontextmenu="return false">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <button id="btn_reassign" class="btn btn-default">Reassign</button>
            </div>
        @*</div>*@
        @*<div class="row">*@
        <div style="font-size:14px; color: red">
            <label>
                RD DEFINE材料:可轉簽給部門內任何人。 <br / >
                非RD DEFINE材料:可轉簽給有該材料權限的人,材料權限請聯繫IT申請。
            </label>
        </div>
        </div>
        <table id="table" class="table table-bordered">
            <thead>
                <tr class="bg-light-blue">
                    <th></th>
                    <th>Material Group</th>
                    <th>Parts Group</th>
                    <th>Material Parts</th>
                    <th>Parent Part No</th>
                    <th>Part No</th>
                    <th>English Name</th>
                    <th>Part Spec</th>
                    <th>Part Type</th>
                    <th>Owner</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="modal fade" id="reAssign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="mtl_part" />
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">ReAssign To:</label>
                            <div class="col-sm-5">
                                <input class="form-control emp_no_autocomplete" type="text" id="emp_no" name="emp_no" autocomplete="off" />
                                <input type="hidden" name="emp_id" id="emp_id"/>
                            </div>
                        </div>
                    </form>
                </div>
                <input type="hidden" name="sn" id="sn" />
                <input type="hidden" name="mtl_parts" id="mtl_parts" />
                <input type="hidden" name="bu" id="bu" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-default resetAssign">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/script")
    <script src="@Url.Content("~/Content/Scripts/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/Css/iCheck/icheck.js")"></script>
    <script src="@Url.Content("~/Content/Third-Part/Bootstrap-3-Typeahead-master/bootstrap3-typeahead.js")"></script>
    <script>
        $(function () {
            TableDataBind('@Request.Params["rsi_no"]', '@Request.Params["part_type"]', 'load');
        });

        function TableDataBind(rsi_no, part_type, status) {
            $('#table').DataTable({
                destroy: true,
                paging: false,
                info: false,
                ordering: false,
                searching: false,
                ajax: {
                    url: 'MaterialSourcerReassign',
                    method: 'POST',
                    data: {
                        rsi_no: rsi_no,
                        part_type: part_type
                    },
                    dataSrc: ''
                },
                columns: [
                    {
                        name: 'ReAssign', data: null, defaultContent: '', render: function (data, type, row) {
                            return '<input type="checkbox" name="chk_reassign" value=' + row.SN + '>';
                        }
                    },
                    { name: 'MTL_GROUP', data: 'MTL_GROUP' },
                    { name: 'PARTS_GROUP', data: 'PARTS_GROUP' },
                    { name: 'MTL_PARTS', data: 'MTL_PARTS' },
                    { name: 'PARENT', data: 'PARTNUMBER_PARENT' },
                    {
                        name: 'PART_NO', data: 'PART_NO',
                        render: function (data, type, row) {
                            var view = data;
                            if (row.UNI_SPEC_STATUS == 'Y') {
                                view += "<span class='text-danger' style='float: right; font-weight: bold;'>!</span>";
                            }

                            if (row.EOL_STATUS == 'Y') {
                                view += "<span class='text-danger' style='float: right; font-weight: bold;'>@@</span>";
                            }
                            return view;
                        }
                    },
                    { name: 'ENGLISH_NAME', data: 'ENGLISH_NAME' },
                    { name: 'PART_SPEC', data: 'PART_SPEC' },
                    { name: 'PART_TYPE', data: 'PART_TYPE' },
                    { name: 'SOURCER_OWNER', data: 'SOURCER_OWNER', className: 'text-ellipsis-owner' }
                ],
                initComplete: function (settings, json) {
                    CheckBoxStyle();
                    if (json.length == 0 && status != 'load') {
                        window.opener.window.location = '/RSI';
                        window.close();
                    }
                }
            });
        }

        function CheckBoxStyle() {
            $('input[name="chk_reassign"]').iCheck({
                checkboxClass: 'icheckbox_square-blue'
            });
        }

        function AutoCompleteBinding(data) {
            $('.emp_no_autocomplete').val('');
            $('.emp_no_autocomplete').typeahead({
                source: function (query, process) {
                    var new_data = [];
                    for (var i = 0; i < data.length; i++) {
                        var obj = { id: data[i].EMP_NO, name: data[i].EMP_NAME };
                        new_data.push(obj);
                    }
                    return process(new_data);
                },
                autoSelect: true,
                afterSelect: function (item) {
                    console.log(item);
                    $('#emp_id').val(item.id);
                }
            });
        }

        $(document).on('click', '#btn_reassign', function () {
            var sn = [];
            $('input[name="chk_reassign"]:checked').each(function () {
                sn.push($(this).val());
            });

            if (sn.length == 0) {
                alert("請選擇要轉簽的材料");
            }
            else {
                $('#sn').val(sn.join());

                var table_data = $('#table').DataTable().rows().data();
                table_data = table_data.filter(function (data) { return sn.indexOf(data.SN.toString()) >= 0 });
                var bu = [];
                var mtl_parts = [];
                for (var i = 0; i < table_data.length; i++){
                    if (bu.indexOf(table_data[i].BU) == -1) {
                        bu.push(table_data[i].BU);
                    }

                    if (mtl_parts.indexOf(table_data[i].MTL_PARTS) == -1) {
                        mtl_parts.push(table_data[i].MTL_PARTS);
                    }
                }

                if (bu.length != 1 || mtl_parts.length != 1) {
                    alert("選擇多筆時，僅限同一Material Parts材料");
                }
                else if (mtl_parts[0] == 'RD DEFINE') {
                    $('#mtl_parts').val(mtl_parts[0]);
                    $('#bu').val(bu[0]);
                    $.ajax({
                        url: '/RSI/RSI/SearchEmp',
                        type: 'POST',
                        data: {
                            phase_id: '@Request.Params["phase_id"]',
                            part_type: '@Request.Params["part_type"]',
                            bu: bu[0]
                        },
                        success: function (res) {
                            if (res.length == 0) {
                                alert("沒有可以轉簽的人員");
                            }
                            else {
                                AutoCompleteBinding(res);
                                $('#reAssign').modal('show');
                            }
                        }
                    });
                }
                else {
                    $('#mtl_parts').val(mtl_parts[0]);
                    $('#bu').val(bu[0]);
                    $.ajax({
                        url: 'MaterSourcerReassignBindding',
                        method: 'POST',
                        data: {
                            bu: bu[0],
                            mtl_parts: mtl_parts[0]
                        },
                        success: function (res) {
                            if (res.length == 0) {
                                alert("沒有可以轉簽的人員");
                            }
                            else {
                                AutoCompleteBinding(res);
                                $('#reAssign').modal('show');
                            }

                        },
                        error: function () {
                            alert('系統產生錯誤，請聯絡IT人員');
                        }
                    });
                }
            }
        });

        $(document).on('click', '.resetAssign', function () {
            var emp_no = $('#emp_id').val();
            var rsi_no = '@Request.Params["rsi_no"]';
            var part_type = '@Request.Params["part_type"]';
            var phase_id = '@Request.Params["phase_id"]';
            var projectname = '@Request.Params["projectname"]';
            var sn = $('#sn').val();
            var mtl_parts = $('#mtl_parts').val();
            var bu = $('#bu').val();
            //if (mtl_parts === 'RD DEFINE') {
            //    $.ajax({
            //        url: '/RSI/RSI/ReSetAssign',
            //        method: 'POST',
            //        data: {
            //            reassign: emp_no,
            //            bu: bu,
            //            mtl_part: mtl_parts,
            //            rsi_no: rsi_no,
            //            part_type: part_type,
            //            phase_id: phase_id,
            //            projectname: projectname,
            //            sn: sn
            //        },
            //        success: function (res) {
            //            if (res) {
            //                TableDataBind(rsi_no, part_type, 'reload');
            //                window.opener.reloadDataTable();
            //                $('#reAssign').modal('hide');
            //            }
            //            else {
            //                alert('轉簽失敗，請聯絡IT人員');
            //            }
            //        }
            //    });
            //}
            //else {
            //    $.ajax({
            //        url: 'MaterialSourcerReassignSubmit',
            //        method: 'POST',
            //        data: {
            //            reassign: emp_no,
            //            bu: bu,
            //            mtl_part: mtl_parts,
            //            rsi_no: rsi_no,
            //            part_type: part_type,
            //            phase_id: phase_id,
            //            projectname: projectname,
            //            sn: sn
            //        },
            //        success: function (res) {
            //            if (res) {
            //                TableDataBind(rsi_no, part_type, 'reload');
            //                window.opener.reloadDataTable();
            //                $('#reAssign').modal('hide');
            //            }
            //            else {
            //                alert('轉簽失敗，請聯絡IT人員');
            //            }
            //        },
            //        error: function () {
            //            alert('系統產生錯誤，請聯絡IT人員');
            //        }
            //    });
            //}

            $.ajax({
                url: 'MaterialSourcerReassignSubmit',
                method: 'POST',
                data: {
                    reassign: emp_no,
                    bu: bu,
                    mtl_part: mtl_parts,
                    rsi_no: rsi_no,
                    part_type: part_type,
                    phase_id: phase_id,
                    projectname: projectname,
                    sn: sn
                },
                success: function (res) {
                    if (res) {
                        TableDataBind(rsi_no, part_type, 'reload');
                        window.opener.reloadDataTable();
                        $('#reAssign').modal('hide');
                    }
                    else {
                        alert('轉簽失敗，請聯絡IT人員');
                    }
                },
                error: function () {
                    alert('系統產生錯誤，請聯絡IT人員');
                }
            });

        });
    </script>
</body>
</html>