@model RSI.Models.Entity.H_Product_InfoEntity
@{
    /**/

    ViewBag.Title = RSI.Models.Entity.Employee.GetSiteName(Request.QueryString["phase_id"], Request.QueryString["BU"]);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section custom_css_reference {
    <link href="@Url.Content("~/Content/Css/dataTables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
}

@Html.Partial("~/Views/RSI/BasicPage.cshtml", Model)

<div class="box box-primary" style="background: transparent;">
    <div class="box-header with-border">
        <h3 class="box-title">
            Upload File
        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
            <div class="row" style="padding-bottom:5px;">
                <div class="col-xs-2">
                    Choose File
                </div>
                <div class="col-xs-10">
                    <input type="file" id="file_detail" class="filestyle" name="file_detail" data-buttonName="btn-primary" />
                </div>
            </div>
            <div class="row" style="padding-bottom:5px;">
                <div class="col-xs-2">
                    Remark
                </div>
                <div class="col-xs-10">
                    <textarea class="form-control" id="fileRemark" name="remark" rows="3"></textarea>
                </div>
            </div>
            <div class="row" style="padding-bottom:5px;">
                <div class="col-xs-12 text-center">
                    <input class="btn btn-default" type="button" value="Upload" onclick="fileUpload()">
                    <input class="btn btn-default" type="button" id="close" value="Close" data-dismiss="modal">
                </div>
            </div>
            <div class="table-responsive">
                <table class="table" id="fileTable" style="width:100%;">
                    <thead>
                        <tr class="bg-light-blue">
                            <th></th>
                            <th class="text-center">File Name</th>
                            <th class="text-center">File Size(KB)</th>
                            <th class="text-center">Upload by</th>
                            <th class="text-center">Upload Date</th>
                            <th class="text-center">Remark</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box -->
    </div>
    <!-- /.box-body -->
</div>

<div class="row">
    <div class="col-md-12 text-center">
        @{
        var reassingshow = "";
        }
        <button class="btn btn-default btn-reassign bg-purple @reassingshow">Reassign</button>
        <button class="btn bg-green btn-modal">Submit</button>
    </div>
</div>

<div class="modal fade" id="reAssign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ReAssign</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="mtl_part" />
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">EMP_NO</label>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input type="text" class="form-control" id="emp_no" disabled>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="searchEmp()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">EMP_NAME</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="emp_name" disabled>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default resetAssign">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@Html.Action("Index", "Process")

@Html.Action("DeatilApprove", "RSI", new { rsi_no = Request.QueryString["rsi_no"], part_type = Request.QueryString["part_type"], phase_id = Request.QueryString["phase_id"] })

@{
    string version = RSI.Models.Entity.RSI_ConfigEntityDAL.GetVersion();
}

@section custom_script_reference{
    <script src="@Url.Content("~/Content/Scripts/jquery.dataTables.min.js?" + version)"></script>
    <script src="@Url.Content("~/Content/Scripts/dataTables.bootstrap.min.js?" + version)"></script>
    <script src="@Url.Content("~/Content/Scripts/bootstrap-filestyle.min.js?" + version)"></script>
}

@section custom_script{
    <script>
        $(function () {
            fileManagement();
        });

        var fileTable = $('#fileTable');
        function fileManagement() {
            var rsi_no = $('#RSI_NO').val();
            $(fileTable).DataTable({
                destroy: true,
                ajax: {
                    url: '/RSI/RD/FileManagement',
                    method: 'GET',
                    data: {
                        rsi_no: rsi_no
                    },
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'FILE_ID',
                        render: function (data, type, row) {
                            return '<button class="btn btn-danger" data-file-id="' + data + '" onclick="fileDelete(this);"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>';
                        }
                    },
                    {
                        data: 'FILE_NAME',
                        render: function (data, type, row) {
                            return '<a href="/RSI/RSI/GetFile?file_id=' + row["FILE_ID"] + '&rsi_no=' + rsi_no + '">' + data + '</a>';
                            //return data;
                        }
                    },
                    { data: 'FILE_SIZE', class: 'text-right' },
                    { data: 'CREATED_BY' },
                    { data: 'CREATED_DATE' },
                    { data: 'REMARK' }
                ]
            });
        }

        function fileUpload() {
            var data = new FormData();
            data.append("rsi_no", $("#RSI_NO").val());
            data.append("file", $("#file_detail").get(0).files[0]);
            data.append("remark", $("#fileRemark").val());
            $.ajax({
                type: "POST",
                url: "/RSI/RD/FileManagement",
                contentType: false,
                processData: false,
                dataType: "json",
                data: data,
                success: function (data) {
                    $('#file_detail').val('').clone(true);
                    $('#fileRemark').val('');
                    $('.bootstrap-filestyle input.form-control').val('');
                    $(fileTable).DataTable().ajax.reload(null, false);
                }
            })
        }

        function fileDelete(btn) {
            var file_id = $(btn).data("fileId");
            $.ajax({
                type: "POST",
                url: "/RSI/RD/DeleteFile",
                dataType: "json",
                data: {
                    file_id: file_id
                },
                success: function (data) {
                    $(fileTable).DataTable().ajax.reload(null, false);
                }
            })
        }
        $(document).on('click', '.btn-reassign', function () {
            $('#reAssign').modal('show');
        });
        $(document).on("click", ".btn-modal", function () {
            $('#myModal').modal("show");
        });

        function searchEmp() {
            var phase_id = 45;
            var bu = $('#BU').val();
            var part_type = $('#PartType').val();
            var url = '/RSI/RSI/SearchEmp?phase_id={0}&part_type={1}&bu={2}';
            url = url.replace('{0}', phase_id).replace('{1}', part_type).replace('{2}', bu);
            window.open(url, "_blank", 'scrollbars=yes, width=1000, height=600');
        }

        function SetEmpInfo(emp_no, emp_name) {
            $("#reAssign input#emp_no").val(emp_no);
            $("#reAssign input#emp_name").val(emp_name);
        }

        $(document).on("change", "#reAssign input#emp_no", function () {
            var emp_no = $(this).val();
            var phase_id = 40;
            var bu = $('#BU').val();
            var part_type = $('#PartType').val();
            $.ajax({
                url: '/RSI/RSI/SearchEmp',
                method: 'POST',
                data: {
                    search: emp_no,
                    phase_id: phase_id,
                    part_type: part_type,
                    bu: bu
                },
                success: function (data) {
                    if (data.length > 0) {
                        $("#reAssign input#emp_name").val(data[0].EMP_NAME);
                    }
                }
            });
        });

        $(document).on("click", "#reAssign .resetAssign", function () {
            var rsi_no = $('#RSI_NO').val();
            var part_type = $('#PartType').val();
            var reassign = $("#reAssign input#emp_no").val();
            var projectname = $("#PROJECT_NAME").val();
            //var start_date = $("#reAssign input#startdate").val();
            //var end_date = $("#reAssign input#enddate").val();
            var bu = $("#BU").val();
            var phase_id = '@Request.QueryString["phase_id"]';
            if (reassign === "") {
                alert("請輸入員工工號");
                return false;
            }

            $.ajax({
                url: '/RSI/Sourcer/ProductReview_ReSetAssign',
                method: 'POST',
                data: {
                    rsi_no: rsi_no,
                    reassign: reassign,
                    part_type: part_type,
                    bu: bu,
                    //start_date: start_date,
                    //end_date: end_date,
                    phase_id: phase_id,
                    projectname: projectname
                },
                success: function (data) {
                    alert("指派完成");
                    var url = '/RSI/';
                    window.location.href = url;
                }
            });
        });
    </script>
}


