
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section custom_css_reference {
    <link href="@Url.Content("~/Content/Css/dataTables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
}

@section custom_script_reference {
    <script src="@Url.Content("~/Content/Scripts/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.slimscroll.min.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/fastclick.js")"></script>
}


<!--------------------------
    | 內容 |
    -------------------------->
<div class="error-page">
    <h2 class="headline text-red"> 404</h2>
    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> Error! You don't have Authority.</h3>
        <p>
            We could not find the page you were looking for.
            <a href="@Url.Action("Index", "Demo")">Return to home</a>
        </p>
    </div>
    <!-- /error-content -->
</div>
<!-- /error-page -->
