@model IEnumerable<RSI.Models.Entity.To_Do_List_VEntity>
@{
    ViewBag.Title = "RSI";
}

@section custom_css_reference{
    <link href="@Url.Content("~/Content/Css/dataTables.bootstrap.min.css")" rel="stylesheet" />
}
<style>
    .table > thead > tr > th {
        vertical-align: middle;
        /*text-align: center;*/
    }

    #todolist tbody tr {
        cursor: pointer;
    }

        #todolist tbody tr td {
            border: 0px;
            background: #f4f4f4;
            border-bottom: 2px solid white;
            font-size: 13px;
        }

    /*#todolist thead {
        display: none;
    }*/

    /*允許複製*/
    body {
        -webkit-touch-callout: auto;
        -webkit-user-select: auto;
        -moz-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
    }
</style>

@section warning {
    <div class="callout callout-danger">
        <p>
            <i class="icon fa fa-warning"></i> 為保護公司機密資訊、智慧財產權與個人資料安全，非於履行工作職務必要情形下，不得進行本系統內機密資訊、智慧財產權資料與個人資料之蒐集、處理及利用。謹提醒，關於前開資料之蒐集、處理及利用，必須符合公司規定並在公司授權範圍內，方得以合法、合理、適當的方式蒐集、處理及利用，否則將依法追究民事及刑事之法律責任。(請參考DMS文件AUOIT-16-002)<br>
            For the protection of confidential, intellectual property and personal information , unless it is necessary for performing the required job duties, it is strictly prohibited to collect , process or use any confidential, intellectual property and personal information in the system. Please be reminded that the previous information shall only be collected, processed or used in a lawful , reasonable and appropriate manner, in strict compliance of Company’s policy and within the scope of Company’s authorization. Any wrongful use will be subject to both civil and criminal liabilities.(Please refer to DMS Doc. AUOIT-16-002)
        </p>
    </div>
}

<!--------------------------
  | 內容 |
  -------------------------->
@*<div class="row">
        <!-- Info Boxes -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-bullseye"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">目標1</span>
                    <span class="info-box-number">10,000</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 50%"></div>
                    </div>
                    <span class="progress-description">已達成50%</span>
                </div>
            </div>
        </div><!-- /yellow info-box -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">目標2</span>
                    <span class="info-box-number">5,000</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 30%"></div>
                    </div>
                    <span class="progress-description">已達成30%</span>
                </div>
            </div>
        </div>
        <!-- /green info-box -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-files-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">目標3</span>
                    <span class="info-box-number">15,000</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">已達成70%</span>
                </div>
            </div>
        </div>
        <!-- /red info-box -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-line-chart"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">目標4</span>
                    <span class="info-box-number">6,500</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 40%"></div>
                    </div>
                    <span class="progress-description">已達成40%</span>
                </div>
            </div>
        </div>
        <!-- /blue info-box -->
    </div>*@

<div class="row">
    <div class="col-md-12">
        <div class="box box-info" style="background: transparent;">
            <div class="box-header">
                <i class="fa fa-file-text-o"></i>
                <h3 class="box-title">To Do List</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                @{
                    var flag_productsourcer = Model.Where(p => p.PHASE.Equals("Product Sourcer Review")).Any();
                }
                <table id="todolist" class="table" style="width:100%; word-break:break-all">
                    <thead>
                        @*<tr class="bg-light-blue">*@
                        <tr bgcolor="#DDDDDD">
                            <th class="text-left">BU</th>
                            <th class="text-left">BU RFQ No</th>
                            <th class="text-left">Part Type</th>
                            <th class="text-left">RSI No.</th>
                            <th class="text-left">Applicant</th>
                            <th class="text-left">Process</th>
                            @if (flag_productsourcer)
                            {
                                <th class="text-left">Confirm</th>
                            }
                            <th class="text-left">Tag</th>
                            <th class="text-left">Remark</th>
                            <th class="text-right">Held days</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var flag_index = 0;
                        }
                        @foreach (var item in Model)
                        {

                            var color_rgb = "#DDDDDD";
                            if (item.TAG == "R")
                            {
                                color_rgb = "#FF4D4E";
                            }

                            if (item.TAG == "Y")
                            {
                                color_rgb = "#FF9900";
                            }

                            if (item.TAG == "B")
                            {
                                color_rgb = "#2AB1B9";
                            }

                            var flag_id = string.Format("flag_{0}", flag_index);
                            <tr data-rsi_no="@RSI.Models.Entity.Validate.EncryptValue(item.RSI_NO.ToString())" data-form_no="@RSI.Models.Entity.Validate.EncryptValue(item.FORM_NO.ToString())" data-part_type="@RSI.Models.Entity.Validate.EncryptValue(item.PART_TYPE)" data-phase_id="@item.PHASE_ID" data-bu="@RSI.Models.Entity.Validate.EncryptValue(item.BU)" data-return-phase-id="@item.RETURN_PHASE_ID"
                                data-app_serial="@item.APP_SERIAL" data-app_status="@item.APP_STATUS">
                                <td>@item.BU</td>
                                <td>@item.PROJECT_NAME</td>
                                <td>@item.PART_TYPE</td>
                                <td>@item.RSI_NO</td>
                                <td>@item.REQUESTNAME</td>
                                <td>@item.PHASE</td>
                                @if (flag_productsourcer)
                                {
                                    <td class="productsourcer">
                                        <div class="text-center">
                                            @if (item.SOURCER_APPROVE == "Y")
                                            {
                                                <i class="fa fa-circle fa-lg" aria-hidden="true" style="color:#00A65A;" onclick="showDetailLayer1(@item.RSI_NO, '40', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                            }
                                            else if (item.SOURCER_APPROVE == "N")
                                            {
                                                <i class="fa fa-circle fa-lg" aria-hidden="true" style="color:#DD4B39;" onclick="showDetailLayer1(@item.RSI_NO, '40', 'U', '@item.BU', '@item.PART_TYPE', '@item.PROJECT_NAME')"></i>
                                            }
                                            else
                                            {

                                            }
                                        </div>
                                    </td>
                                }
                                <td class="tag">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding:0px; border-color:transparent;">
                                            <i class="fa fa-flag fa-lg" id="@flag_id" aria-hidden="true" style="color:@color_rgb;"></i>
                                            <i class="fa fa-angle-down fa-lg" aria-hidden="true" style="color:#DDDDDD;"></i>
                                        </button>
                                        <ul class="dropdown-menu" style="min-width:40px;">
                                            <li style="margin:8px;"><i class="fa fa-flag fa-lg" aria-hidden="true" style="color:#FF4D4E;" data-target="@flag_id" data-tag="R"></i></li>
                                            <li style="margin:8px;"><i class="fa fa-flag fa-lg" aria-hidden="true" style="color:#FF9900;" data-target="@flag_id" data-tag="Y"></i></li>
                                            <li style="margin:8px;"><i class="fa fa-flag fa-lg" aria-hidden="true" style="color:#2AB1B9;" data-target="@flag_id" data-tag="B"></i></li>
                                            <li style="margin:8px;"><i class="fa fa-flag fa-lg" aria-hidden="true" style="color:#DDDDDD;" data-target="@flag_id" data-tag=""></i></li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="remark">
                                    <div class="text-center remark">
                                        @{
                                            if (string.IsNullOrEmpty(item.REMARK))
                                            {
                                                <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-commenting-o fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="@item.REMARK"></i>
                                            }
                                        }

                                    </div>
                                </td>
                                <td class="text-right">
                                    @item.HELDDAYS
                                </td>
                                <td>
                                    @if (item.HELDDAYS <= 2)
                                    {
                                        <span class="label label-default"><i class="fa fa-clock-o"></i> New</span>
                                    }
                                    else if (item.HELDDAYS < 7 && item.HELDDAYS > 2)
                                    {
                                        <span></span>
                                    }
                                    else if (item.HELDDAYS < 30 && item.HELDDAYS >= 7)
                                    {
                                        <span class="label label-warning"><i class="fa fa-clock-o"></i> Over 1 week</span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger"><i class="fa fa-clock-o"></i> Over 1 month</span>
                                    }
                                </td>
                            </tr>
                            flag_index++;
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            @*<div class="box-footer clearfix no-border">
                    <p class="pull-right"><i class="fa fa-refresh"></i> Renew at 08:00</p>
                </div>*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="box box-primary" style="background: transparent;">
            <div class="box-header with-border">
                <i class="fa fa-bullhorn"></i>
                <h3 class="box-title">Bulletins</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            @{
                var dt_Bulletin = RSI.Models.Entity.RSI_ConfigEntityDAL.GetBulletin();
                if (dt_Bulletin.Rows.Count > 0)
                {
                    @Html.Raw(dt_Bulletin.Rows[0]["NOTE"]);
                }
                else
                {
                    <div class="box-body">

                    </div>
                }
            }
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-4">
        <!-- FAQ -->
        <div class="box box-warning" style="background: transparent;">
            <div class="box-header with-border">
                <i class="fa fa-question"></i>
                <h3 class="box-title">FAQ</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="products-list product-list-in-box">
                    @{
                        var faq = RSI.Models.Manager.To_Do_List_VManager.GetFAQ();
                    }
                    @foreach (System.Data.DataRow row in faq.Rows)
                    {
                        <li class="item">
                            <div class="product-info">
                                <a href="@row["ATTRIBUTE3"]" class="product-title">@row["ATTRIBUTE1"]</a>
                                @*<span class="label label-success pull-right"><i class="fa fa-star"></i> Hot</span>*@
                                <span class="product-description">@row["ATTRIBUTE2"]</span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <!-- /.box-body -->
            @*<div class="box-footer text-center">
                    <a href="#" class="uppercase">More</a>
                </div>*@
            <!-- /.box-footer -->
        </div>
        <!-- /FAQ -->
        <!-- Time Line -->
        @*<ul class="timeline">
                <!-- timeline time label -->
                <li class="time-label">
                    <span class="bg-light-blue">2018行事曆</span>
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                    <!-- timeline icon -->
                    <div class="bg-purple-active">Jan</div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-calendar"></i> 10~15</span>
                        <div class="timeline-body">事項1</div>
                    </div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-calendar"></i> 17~28</span>
                        <div class="timeline-body">事項2</div>
                    </div>
                </li>
                <li>
                    <!-- timeline icon -->
                    <div class="bg-maroon">Feb</div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-calendar"></i> 10~15</span>
                        <div class="timeline-body">事項1</div>
                    </div>
                </li>
                <li>
                    <!-- timeline icon -->
                    <div class="bg-red">Mar</div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-calendar"></i> 10~15</span>
                        <div class="timeline-body">事項1</div>
                    </div>
                </li>
                <li>
                    <!-- timeline icon -->
                    <div class="bg-orange-active">Apr</div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-calendar"></i> 10~15</span>
                        <div class="timeline-body">事項1</div>
                    </div>
                </li>
                <li>
                    <!-- timeline icon -->
                    <div class="bg-yellow">May</div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-calendar"></i> 10~15</span>
                        <div class="timeline-body">事項1</div>
                    </div>
                </li>
                <li>
                    <!-- timeline icon -->
                    <div class="bg-green">Jun</div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-calendar"></i> 10~15</span>
                        <div class="timeline-body">事項1</div>
                    </div>
                </li>
                <li>
                    <!-- timeline icon -->
                    <div class="bg-olive-active">Jul</div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-calendar"></i> 10~15</span>
                        <div class="timeline-body">事項1</div>
                    </div>
                </li>
                <li>
                    <!-- timeline icon -->
                    <div class="bg-teal">Aug</div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-calendar"></i> 10~15</span>
                        <div class="timeline-body">事項1</div>
                    </div>
                </li>
                <li>
                    <!-- timeline icon -->
                    <div class="bg-aqua">Sep</div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-calendar"></i> 10~15</span>
                        <div class="timeline-body">事項1</div>
                    </div>
                </li>
                <li>
                    <!-- timeline icon -->
                    <div class="bg-light-blue">Nov</div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-calendar"></i> 10~15</span>
                        <div class="timeline-body">事項1</div>
                    </div>
                </li>
                <li>
                    <!-- timeline icon -->
                    <div class="bg-blue">Dec</div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-calendar"></i> 10~15</span>
                        <div class="timeline-body">事項1</div>
                    </div>
                </li>
                <li>
                    <!-- timeline icon -->
                    <div class="bg-navy">Feb</div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-calendar"></i> 10~15</span>
                        <div class="timeline-body">事項1</div>
                    </div>
                </li>
                <!-- END timeline item -->
            </ul>*@
        <!-- /Time Line -->
    </div>
    <div class="col-md-4">
        <div class="box box-success" style="background: transparent;">
            <div class="box-header">
                <i class="fa fa-user"></i><h3 class="box-title">Contact Windows</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-condensed">
                    <tr>
                        <th>Owner</th>
                        <th>Phone</th>
                    </tr>
                    @{
                        var dt = RSI.Models.Manager.To_Do_List_VManager.GetContactWindow();
                    }
                    @foreach (System.Data.DataRow row in dt.Rows)
                    {
                        <tr>
                            <td>@row["ATTRIBUTE1"]</td>
                            <td>@row["ATTRIBUTE2"]</td>
                        </tr>
                    }
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<div class="modal fade" id="RemarkModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Remark</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="comment" name="comment" onkeyup="lastlength(this, 'comfirm');"></textarea>
                        <p>You have <span class="text-danger"><b id="comfirm_number">500</b></span> characters left.</p>
                    </div>
                    <input type="hidden" id="rsi_no" name="rsi_no" />
                    <input type="hidden" id="form_no" name="form_no" />
                    <input type="hidden" id="phase_id" name="phase_id" />
                    <input type="hidden" id="app_serial" name="app_serial" />
                    <input type="hidden" id="app_status" name="app_status" />
                </form>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="btn btn-primary" onclick="btn_remark();">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section custom_script_reference{
    <script src="@Url.Content("~/Content/Scripts/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/dataTables.bootstrap.min.js")"></script>
}

@section custom_script{
    <script>
        $('[data-toggle="tooltip"]').tooltip();

        $("#todolist").DataTable({
            "searching": true,
            "ordering": false,
            "info": false,
            "paging": false
        });

        $(document).on("click", "#todolist tbody tr td:not(.tag):not(.remark):not(.productsourcer)", function () {
            var object = $(this).parent().data();
            var url = "/RSI";
            switch (object.phase_id) {
                case 10:
                    url += "/RD/RDReview";
                    break;
                case 20:
                    url += "/RD/RDBossReview";
                    break;
                case 25:
                    url += "/RD/RDBossReview";
                    break;
                case 30:
                    url += "/PM/PLReview";
                    break;
                case 40:
                    url += "/Sourcer/Index";
                    break;
                case 45:
                    url += "/Sourcer/ProductReview";
                    break;
                case 50:
                    url += "/Sourcer/Boss";
                    break;
                case 60:
                    url += "/Sourcer/Boss";
                    break;
                case 70:
                    url += "/PM/Confirm";
                    break;
                case 100:
                    url += "/Sourcer/ProductDocumentReview";
            }

            macAddress = getMacAddress();
            if (object.phase_id === 10 && object.returnPhaseId === 40) {
                url = "/RSI/RSI/Layer1Return?rsi_no={0}&part_type={1}&form_no={2}&phase_id={3}&now_phase={4}&BU={5}";
                url = url.replace("{0}", object.rsi_no).replace("{1}", object.part_type).replace("{2}", object.form_no).replace("{3}", object.phase_id).replace("{4}", object.returnPhaseId).replace("{5}", object.bu);
                window.open(url, "_blank", "scrollbars=yes,resizable=yes");
                return false;
            }

            url += "?rsi_no={0}&part_type={1}&form_no={2}&phase_id={3}&BU={4}&macaddress={5}";
            url = url.replace("{0}", object.rsi_no).replace("{1}", object.part_type).replace("{2}", object.form_no).replace("{3}", object.phase_id).replace("{4}", object.bu).replace('{5}', macAddress);

            window.location = url;
        });

        function getMacAddress() {
            var macAddress = null;
            try {
                var obj = new ActiveXObject("WbemScripting.SWbemLocator");
                var svr = obj.ConnectServer(".");
                var info = svr.ExecQuery("select * from Win32_NetworkAdapterConfiguration where IPEnabled = True ");
                var items = new Enumerator(info);
                for (; !items.atEnd(); items.moveNext()) {
                    var item = items.item();
                    macAddress = item.MACAddress.toString().replace(/\:/g, '-');
                }
            }
            catch (ex) {

            }
            return macAddress;
        }

        $(".dropdown .dropdown-menu li").click(function () {
            var target = $(this).find('i').data('target');
            var color = $(this).find('i').css('color');
            $('#' + target).css('color', color);

            //進DB更新資料
            var data = $(this).closest('tr').data();
            var rsi_no = data.rsi_no;
            var form_no = data.form_no;
            var phase_id = data.phase_id;
            var app_serial = data.app_serial;
            var app_status = data.app_status;
            var tag = $(this).find('i').data('tag');
            $.ajax({
                url: '/RSI/Demo/ToDoListUpdateTag',
                method: "POST",
                data: {
                    rsi_no: rsi_no,
                    form_no: form_no,
                    phase_id: phase_id,
                    app_serial: app_serial,
                    app_status: app_status,
                    tag: tag
                },
                success: function (status) {
                    if (!status) {
                        alert('No materials added, Submit prohibited.');
                    }
                }
            });
        });

        $(".remark i").click(function () {
            $(this).addClass('active');
            var data = $(this).closest('tr').data();
            var rsi_no = data.rsi_no;
            var form_no = data.form_no;
            var phase_id = data.phase_id;
            var app_serial = data.app_serial;
            var app_status = data.app_status;
            $('#rsi_no').val(rsi_no);
            $('#form_no').val(form_no);
            $('#phase_id').val(phase_id);
            $('#app_serial').val(app_serial);
            $('#app_status').val(app_status);
            if ($(this).hasClass('fa-commenting-o')) {
                var comment = $(this).data('original-title');
                $("#comment").val(comment);
                $("#comfirm_number").text(500 - comment.length);
            }
            else {
                $("#comment").val("");
                $("#comfirm_number").text(500);
            }
            $("#RemarkModal").modal("show");
        });

        function lastlength(obj, id) {
            var textarea_length = obj.value.length;
            if (id === 'comfirm') {
                var number_object = document.getElementById('comfirm_number');
                number_object.innerHTML = 500 - textarea_length;
            }
            else {
                var number_object = document.getElementById('reject_number');
                number_object.innerHTML = 500 - textarea_length;
            }

        }

        function btn_remark() {
            var rsi_no = $('#rsi_no').val();
            var form_no = $('#form_no').val();
            var phase_id = $('#phase_id').val();
            var app_serial = $('#app_serial').val();
            var app_status = $('#app_status').val();
            var remark = $("#comment").val();
            if (remark.length > 500) {
                alert('Remark不可以超過500字');
                return false;
            }

            var comment_icon = $('.active');
            if ($(comment_icon).hasClass('fa-commenting-o')) {
                if (remark.length > 0) {
                    $(comment_icon).attr('data-original-title', remark);
                    $(comment_icon).data('original-title', remark);
                }
                else {
                    $(comment_icon).tooltip('destroy');
                    $(comment_icon).removeClass('fa-commenting-o').addClass('fa-plus');
                }
            }
            else {
                if (remark.length > 0) {
                    $(comment_icon).removeClass('fa-plus').addClass('fa-commenting-o');
                    $(comment_icon).attr('title', remark);
                    $(comment_icon).attr('data-toggle', 'tooltip').attr('data-placement', 'left');
                    $(comment_icon).tooltip();
                }
            }
            $(comment_icon).removeClass('active');

            $.ajax({
                url: '/RSI/Demo/ToDoListUpdateRemark',
                method: "POST",
                data: {
                    rsi_no: rsi_no,
                    form_no: form_no,
                    phase_id: phase_id,
                    app_serial: app_serial,
                    app_status: app_status,
                    remark: remark
                },
                success: function (status) {
                    if (!status) {
                        alert('No materials added, Submit prohibited.');
                    }
                }
            });
            $("#RemarkModal").modal("hide");
        }

        function showDetailLayer1(rsi_no, phase_id, form_status, bu, part_type, projectname) {
            var url = "/RSI/RSI/DetailLayer1SourcerView?rsi_no={0}&phase_id={1}&form_status={2}&bu={3}&part_type={4}&projectname={5}";
            url = url.replace("{0}", rsi_no).replace("{1}", phase_id).replace("{2}", form_status).replace("{3}", bu).replace('{4}', part_type).replace('{5}', projectname);
            window.open(url, "_blank", "width=800,height=600,scrollbars=yes,resizable=yes");
        }
    </script>
}
